*__pycache__/
*__pycache__/*.pyc
ldos.*
wfc*/
lf*/
test*/
rcc-*
build
dist
*.egg-info
example/*.dat
example/ldos.*
example/sub_qb
example/rcc-*
example/*.vasp
example/.ipynb_checkpoints/*
**/Dataset/
